<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <meta-data
        android:name="preloaded_fonts"
        android:resource="@array/preloaded_fonts" />

    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FYP"
        tools:targetApi="31">
        <activity
            android:name=".CrashCourseKMapPage6"
            android:exported="false" />
        <activity
            android:name=".CrashCourseKMapPage5"
            android:exported="false" />
        <activity
            android:name=".CrashCourseKMapPage4"
            android:exported="false" />
        <activity
            android:name=".CrashCourseKMapPage3"
            android:exported="false" />
        <activity
            android:name=".CrashCourseKMapPage2"
            android:exported="false" />
        <activity
            android:name=".CrashCourseKMapPage1"
            android:exported="false" />
        <activity
            android:name=".OutputTesting"
            android:exported="false" />
        <activity
            android:name=".CrashCourseIntroTopic2"
            android:exported="false" />
        <activity
            android:name=".LogiKitTruthTable"
            android:exported="false" />
        <activity
            android:name=".InputSelection"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CrashCourseBoolPage14"
            android:exported="false" />
        <activity
            android:name=".CrashCourseBoolPage13"
            android:exported="false" />
        <activity
            android:name=".CrashCourseBoolPage12"
            android:exported="false" />
        <activity
            android:name=".CrashCourseBoolPage11"
            android:exported="false" />
        <activity
            android:name=".CrashCourseBoolPage10"
            android:exported="false" />
        <activity
            android:name=".CrashCourseBoolPage9"
            android:exported="false" />
        <activity
            android:name=".CrashCourseBoolPage8"
            android:exported="false" />
        <activity
            android:name=".CrashCourseBoolPage7"
            android:exported="false" />
        <activity
            android:name=".CrashCourseBoolPage6"
            android:exported="false" />
        <activity
            android:name=".CrashCourseBoolPage5"
            android:exported="false" />
        <activity
            android:name=".CrashCourseLogicTopic9"
            android:exported="false" />
        <activity
            android:name=".CrashCourseBoolPage4"
            android:exported="false" />
        <activity
            android:name=".CrashCourseBoolPage0"
            android:exported="false" />
        <activity
            android:name=".KitTry4"
            android:exported="false" />
        <activity
            android:name=".CrashCourseBoolPage3"
            android:exported="false" />
        <activity
            android:name=".CrashCourseBoolPage2"
            android:exported="false" />
        <activity
            android:name=".CrashCourseBoolPage1"
            android:exported="false" />
        <activity
            android:name=".KitTry3"
            android:exported="false" />
        <activity
            android:name=".KitTry2"
            android:exported="false" />
        <activity
            android:name=".KitTry1"
            android:exported="false" />
        <activity
            android:name=".ResultActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ChallengesLevelThree"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ChallengesLevelTwo"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ChallengesLevelOne"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".CrashCourseLogicTopic8"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".CrashCourseLogicTopic7"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".CrashCourseLogicTopic6"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".CrashCourseLogicTopic5"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".CrashCourseLogicTopic4"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".CrashCourseLogicTopic3"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".CrashCourseLogicTopic2"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".CrashCourseLogicTopic1"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".CrashCourseIntroTopic5"
            android:exported="false" />
        <activity
            android:name=".CrashCourseIntroTopic4"
            android:exported="false" />
        <activity
            android:name=".CrashCourseIntroTopic3"
            android:exported="false" />
        <activity
            android:name=".CrashCourseIntroTopic3"
            android:exported="false" />
        <activity
            android:name=".CrashCourseIntroTopic1"
            android:exported="false" />
        <activity
            android:name=".ChallengesMain"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".KitMain"
            android:exported="false" />
        <activity
            android:name=".CrashCourseMain"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FYP"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>